*{
  font: 'Lato'
}

.fa-search{

}

// .menu{
//   height: 10vh;
//   background-color: #00796B;
//   color: white;
//   display: flex;
//   justify-content:space-between;
//   align-items: center;
//   font-size: 2rem;
// }
//
.parent-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movies-container{
  width: 25vw;
}
//
.title{
  color: #0E76BC;
  font-size: 1.2rem;
  font-weight:3200;
}

.title:hover{
  opacity: .7;
  cursor: pointer;
}

.single-movie{
  position: relative;
}
//
// year{
//   color: black;
//   font-size: .5rem;
// }
//
// .moviePreview{
//   position: absolute;
//   right: 0;
//   top: 0;
//   // width: 10vh;
// }
